[submodule "configs/zsh/.config/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = configs/zsh/.config/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "configs/zsh/.config/zsh/.oh-my-zsh/custom/plugins/zsh-256color"]
	path = configs/zsh/.config/zsh/.oh-my-zsh/custom/plugins/zsh-256color
	url = https://github.com/chrissicool/zsh-256color.git
[submodule "configs/zsh/.config/zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = configs/zsh/.config/zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "configs/neovim/.config/nvim"]
	path = configs/neovim/.config/nvim
	url = https://github.com/Sly-Harvey/nvim.git
